<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="proveedores"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Formulario de Proveedor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulario de Proveedor</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid fixed *ngIf="cargaCompleta && !error; else loading">
    <ion-list>
      <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="save()" >

        <ion-input  type="hidden"
                    formControlName="id">
        </ion-input>

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input  type="text"
                      formControlName="nombre">
          </ion-input>
          <ion-note>solo caracters alfanumericos, puntos y espacios</ion-note>
        </ion-item>

        <br><br>
        <div class="ion-text-center">
          <ion-button size="large" type="submit" [disabled]="formulario.invalid">
            Guardar
          </ion-button>
        </div>
      </form>
    </ion-list>

  </ion-grid>
  <ng-template #loading>
    <app-loading *ngIf="!error"></app-loading>
  </ng-template>

  <app-error *ngIf="error"></app-error>

</ion-content>
