<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="productos"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Formulario de Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulario de Producto</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid fixed *ngIf="cargaCompleta && !error; else loading">
    <ion-list>
      <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="save()" >

        <ion-input  type="hidden"
                    formControlName="id">
        </ion-input>

        <ion-item>
          <ion-label position="floating">Articulo</ion-label>
          <ion-input  type="text"
                      formControlName="articulo">
          </ion-input>
          <ion-note>solo caracters alfanumericos, puntos y espacios</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Referencia</ion-label>
          <ion-input  type="text"
                      formControlName="referencia">
          </ion-input>
          <ion-note>prefijo REF + numeros y mayusculas</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Localizacion</ion-label>
          <ion-input  type="text"
                      formControlName="localizacion">
          </ion-input>
          <ion-note>solo caracters alfanumericos, puntos y espacios</ion-note>
        </ion-item>


        <ion-item>
          <ion-label position="stacked">Tipo de Unidad</ion-label>

          <ion-select placeholder="Escoja una opcion" formControlName="tipo_unidad">
            <ion-select-option value="Unidad" > Unidad </ion-select-option>
            <ion-select-option value="KiloGramos" > KiloGramos </ion-select-option>
            <ion-select-option value="Docena" > Docena </ion-select-option>
          </ion-select>

        </ion-item>

        <ion-item>
          <ion-label position="floating">Minimo</ion-label>
          <ion-input  type="text"
                      formControlName="minimo">
          </ion-input>
          <ion-note>solo numeros</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Maximo</ion-label>
          <ion-input  type="text"
                      formControlName="maximo">
          </ion-input>
          <ion-note>solo numeros</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Proveedor</ion-label>

          <ion-select placeholder="Escoja una opcion" formControlName="id_proveedor">
            <ion-select-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
              {{ proveedor.nombre }}
            </ion-select-option>
          </ion-select>

        </ion-item>

        <br><br>
        <div class="ion-text-center">
          <ion-button size="large" type="submit" [disabled]="formulario.invalid">
            Guardar
          </ion-button>
        </div>
      </form>
    </ion-list>

  </ion-grid>
  <ng-template #loading>
    <app-loading *ngIf="!error"></app-loading>
  </ng-template>

  <app-error *ngIf="error"></app-error>

</ion-content>
