<ion-app>
  <ion-split-pane when="md" contentId="main">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle  auto-hide="false">
        <ion-item routerLink="/pedidos/list/pendientes">
          <ion-icon slot="start" name="basket"></ion-icon> Pedidos
        </ion-item>
        <ion-item routerLink="/productos">
          <ion-icon slot="start" name="pricetag"></ion-icon> Productos
        </ion-item>
        <ion-item routerLink="/inventarios">
          <ion-icon slot="start" name="clipboard" detail></ion-icon> Inventarios
        </ion-item>
        <ion-item routerLink="/proveedores">
          <ion-icon slot="start" name="business"></ion-icon> Proveedores
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
</ion-app>
