<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="pedidos/list/pendientes"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Estado Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estado Pedido</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid fixed *ngIf="cargaCompleta && !error; else loading">
    <ion-list>

      <ion-item class="ion-text-center">
        <ion-label><strong>FACTURA: </strong> {{ pedido?.referencia }}</ion-label>
        <ion-label><strong>TOTAL: </strong> {{ pedido?.total | currency }}</ion-label>
        <ion-label>
          <ion-icon name="ellipse" [color]="pedido.entrego === '1' ? 'success' : 'danger'"></ion-icon>
          <strong>
            {{ pedido.entrego == '1' ? 'ENTREGADO' : 'PENDIENTE' }}
          </strong>
        </ion-label>
      </ion-item>

      <ion-item class="ion-text-center">

        <ion-col size="4">
          <ion-label><strong>PRECIO</strong></ion-label>
        </ion-col>

        <ion-col size="4">
          <ion-label><strong>PRODUCTO</strong></ion-label>
        </ion-col>

        <ion-col size="4">
          <ion-label><strong>CANTIDAD</strong></ion-label>
        </ion-col>


      </ion-item>

      <ion-item *ngFor="let detalle of pedido?.detalle" class="ion-text-center">

        <ion-col size="4">
          <ion-label>{{ detalle?.producto?.valor | currency}}</ion-label>
        </ion-col>

        <ion-col size="4">
          <ion-label>{{ detalle?.producto?.nombre }}</ion-label>
        </ion-col>

        <ion-col size="4">
          <ion-label>{{ detalle?.cantidad }}</ion-label>
        </ion-col>

      </ion-item>

    </ion-list>
    <hr>
    <table class="ion-text-center">
      <thead>
        <tr>
          <th colspan="2"><strong>INVENTARIO</strong></th>
          <th colspan="2"><strong>PROVEEDOR</strong></th>
        </tr>
        <br>
      </thead>
      <tbody>
        <tr>
          <td><strong>producto</strong></td>
          <td><strong>cantidad</strong></td>
          <td><strong>producto</strong></td>
          <td><strong>cantidad</strong></td>
        </tr>
        <br>
        <tr *ngFor="let detalle of  pedido?.detalle">
          <!-- Inventario -->
          <td>{{ detalle?.producto?.nombre }}</td>
          <!-- detalle?.cantidad > (detalle?.inventario?.cantidad || 0)
          ? ( detalle?.inventario?.cantidad||0 )
          : detalle?.cantidad -->
          <td>{{
             detalle?.cantidadInventario;
            }}</td>

          <!-- Proveedor -->
          <td>{{ detalle?.producto?.nombre }}</td>
          <td>{{
            detalle?.cantidad > ( detalle?.inventario?.cantidad || 0 )
            ? detalle?.cantidad - (detalle?.inventario?.cantidad || 0)
            : 0
            }}</td>


        </tr>
      </tbody>
    </table>



  </ion-grid>
  <ng-template #loading>
    <app-loading *ngIf="!error"></app-loading>
  </ng-template>

  <app-error *ngIf="error"></app-error>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button *ngIf="pedido?.entrego !== '1'" (click)="entregar()" expand="block">
      ENREGAR
    </ion-button>
  </ion-toolbar>
</ion-footer>
